<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>User Querys Details</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-row class="row title">
    <ion-title color="secondary">User Querys Detail</ion-title>
  </ion-row>


</ion-content>
<ion-footer>
  <ion-toolbar color="secondary">
    <div class="tabs">
      <div class="tab">
        <a href="/send-mail" class="tab-link">
        <ion-icon name="mail"></ion-icon>
        <div class="label">Mail</div>
        </a>
      </div>
      <div class="tab">
        <a href="/admin-profile" class="tab-link">
        <ion-icon name="person"></ion-icon>
        <div class="label">Profile</div>
        </a>
      </div>
      <div class="tab">
        <a href="/admin-dashboard" class="tab-link">
        <ion-icon name="home"></ion-icon>
        <div class="label">Home</div></a>
      </div>
      <div class="tab">
        <a href="/device-details" class="tab-link">
        <ion-icon name="list-box"></ion-icon>
        <div class="label">Device Details</div>
        </a>
      </div>
      <div class="tab">
        <a href="/refertravel" class="tab-link">
        <ion-icon name="car"></ion-icon>
        <div class="label">Refer Travel</div>
        </a>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>