<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        Service-Center Registration
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <span item-right><ion-icon name="arrow-round-back" (click) = "backToServiceregiterDetails()"></ion-icon></span>

  <form class="mrg-btm--10" [formGroup]="serviceCenterForm"
    (submit)="createServiceCenterUsersSubmit(serviceCenterForm.value)">
    <ion-item class="nopadh_tp border-btm">
      <ion-label position="floating" class="font-12">Full Name</ion-label>
      <ion-input class="nopadh_tp" type="text" formControlName="customer_name"></ion-input>
    </ion-item>
    <ion-item class="nopadh_tp border-btm">
      <ion-label position="floating" class="font-12">Company Name</ion-label>
      <ion-input class="nopadh_tp" type="text" formControlName="company_name"></ion-input>
    </ion-item>
    <ion-item class="nopadh_tp border-btm">
      <ion-label position="floating" class="font-12">Employ No.</ion-label>
      <ion-input class="nopadh_tp" type="number" formControlName="sc_emp_no"></ion-input>
    </ion-item>
    <ion-item class="nopadh_tp border-btm">
      <ion-label position="floating" class="font-12">Email</ion-label>
      <ion-input class="nopadh_tp" type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item class="nopadh_tp border-btm">
      <ion-label position="floating" class="font-12">Phone No</ion-label>
      <ion-input class="nopadh_tp" type="number" formControlName="phone_no"></ion-input>
    </ion-item>
    <ion-item class="nopadh_tp border-btm">
      <ion-label position="floating" class="font-12">Location</ion-label>
      <ion-input class="nopadh_tp" type="text" formControlName="location"></ion-input>
    </ion-item>

    <div class="text-center ion-margin-vertical">
      <ion-button type="submit" color="secondary" shape="round" [disabled]="!serviceCenterForm.valid">
        Save
      </ion-button>
    </div>

  </form>
</ion-content>
