<ion-content>

  <!---Second Logo Grid--->
  <ion-grid class="background_login">
    <ion-row>
      <ion-col class="ion-text-center">
        <div class="text-centered logo_position">
          <ion-img src="/assets/logo/smpt_logo.png" class=""></ion-img>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="mrg-btm--10">
      <ion-col>
        <ion-card class="welcome-card">
          <ion-card-header class="padd-btm--10">
            <ion-card-title class="ion-text-center padd-btm--10">
              <h4 class="mrg-btm--10 ">Enter OTP</h4>
            </ion-card-title>
          </ion-card-header>

          <ion-card-content class="ion-text-center mrg-btm--10">
            <form (ngSubmit)="validateotpForm()" class="mrg-btm--10">
              <ion-item class="nopadh_tp border-btm">
                <ion-label position="floating" class="font-12">User Id</ion-label>
                <ion-input class="nopadh_tp" type="text" [(ngModel)]="validateotp.userid" name="userid"></ion-input>
              </ion-item>
              <ion-item class="nopadh_tp border-btm">
                <ion-label position="floating" class="font-12">Enter OTP </ion-label>
                <ion-input class="nopadh_tp" type="text" [(ngModel)]="validateotp.otp" name="password"></ion-input>
                <span><a class="resendlink text-decoration" href="/forgetpass"><b>Resend OTP</b></a></span>
              </ion-item>
              <div class="text-center">
                <button ion-button class="btn btn-rounded btn-success" type="submit">Validate</button>
              </div>

            </form>
          </ion-card-content>
          <div class="text-center">
            <p class="ssptcolor mrg-tp--5 font-12">Reset Password?<a class="ssptcolor text-decoration clickhere"
                href="/resetpassword"><b>Click here</b></a></p>
          </div>
          <div class="text-center">
            <div class="websiteadd text-center">
              <p class="ssptcolor mrg-tp--5 font-14 "><a class="ssptcolor font-weight-b text-decoration"
                  href="http://www.srimaruthitechnologies.com"><b>www.srimaruthitechnologies.com</b></a></p>
              <hr class="websiteaddhr">
            </div>
          </div>


        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!---Second Logo Grid--->

</ion-content>