<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-title>Customer Details</ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-label position="floating" class="font-12">Customer Status</ion-label>
    <ion-select [(ngModel)]="status" [placeholder]="status" (ionChange)="customerUserOnStatus()">
        <ion-select-option value="ALL">All</ion-select-option>
        <ion-select-option value="ACTIVE">Active</ion-select-option>
        <ion-select-option value="INACTIVE">Inactive</ion-select-option>
      </ion-select> 

  <div class="backgrondtable">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />
    
    <form action="">
      
      <input type="search" placeholder="Enter Customer No" (input)="onSearch()" [(ngModel)]="inputToSearch"
        [ngModelOptions]="{standalone: true}" />
      <i class="fa fa-search"></i>
    </form>
    <ion-list>
      <ion-item-sliding *ngFor="let item of customers">
        <ion-item>
          <ion-label>
            <h2>Customer No: {{ item.cust_seq_no }}</h2>
            <h3>Customer Name: {{ item.customer_name }}</h3>
            <p>Phone No: {{ item.phone_no }}</p>
            <p>Email: {{ item.email }}</p>
            <p>Location: {{ item.location }}</p>
            <p>Status: {{ item.status }}</p>
          </ion-label>
          <ion-toggle [checked]="item.status === 'ACTIVE'" slot="end" (ionChange)="updateCustomerUsers(item)"></ion-toggle>
        </ion-item>

        <ion-item-options side="start">
          <ion-item-option (click)="navToCustomerUsersEdit(item)">Edit </ion-item-option>
        </ion-item-options>

        <ion-item-options side="end">
          <ion-item-option (click)="deleteCustomerUsers(item.cust_seq_no)">Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <a (click)="navToCustomerUsersCreate()">
      <ion-fab-button color="secondary">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </a>
  </ion-fab>
</ion-content>
