<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Customer User - Edit
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <span item-right><ion-icon name="arrow-round-back" (click) = "backToCustomerEditDetails()"></ion-icon></span>

  <form class="mrg-btm--10" [formGroup]="customerUserForm" (submit)="editCustomerUserSubmit(customerUserForm.value)">
    <ion-item class="nopadh_tp border-btm">
      <ion-label position="floating" class="font-12">Customer No</ion-label>
      <ion-input class="nopadh_tp" type="number" formControlName="cust_seq_no"></ion-input>
    </ion-item>
    <ion-item class="nopadh_tp border-btm">
      <ion-label position="floating" class="font-12">Customer Name</ion-label>
      <ion-input class="nopadh_tp" type="text" formControlName="customer_name"></ion-input>
    </ion-item>
    <ion-item class="nopadh_tp border-btm">
      <ion-label position="floating" class="font-12">Email</ion-label>
      <ion-input class="nopadh_tp" type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item class="nopadh_tp border-btm">
      <ion-label position="floating" class="font-12">Phone No</ion-label>
      <ion-input class="nopadh_tp" type="number" formControlName="phone_no"></ion-input>
    </ion-item>
    <ion-item class="nopadh_tp border-btm">
      <ion-label position="floating" class="font-12">Address</ion-label>
      <ion-input class="nopadh_tp" type="text" formControlName="address"></ion-input>
    </ion-item>
    <ion-item class="nopadh_tp border-btm">
      <ion-label position="floating" class="font-12">Pin/Zip Code</ion-label>
      <ion-input class="nopadh_tp" type="text" formControlName="pincode_zip_cd"></ion-input>
    </ion-item>
    <ion-item class="nopadh_tp border-btm">
      <ion-label position="floating" class="font-12">Location</ion-label>
      <ion-input class="nopadh_tp" type="text" formControlName="location"></ion-input>
    </ion-item>
    <ion-item class="nopadh_tp border-btm">
      <ion-label position="floating" class="font-12">Country</ion-label>
      <ion-input class="nopadh_tp" type="text" formControlName="country"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating" class="font-12">Customer Status</ion-label>
        <ion-select formControlName="status">
            <ion-select-option value="ACTIVE">Active</ion-select-option>
            <ion-select-option value="INACTIVE">Inactive</ion-select-option> 
        </ion-select>
    </ion-item> 

    <div class="text-center ion-margin-vertical">
      <ion-button type="submit" color="secondary" shape="round" [disabled]="!customerUserForm.valid">
        Save
      </ion-button>
    </div>
  </form>
</ion-content>
